@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


/*-------------------- NAVBAR -----------------------*/

header{
    background: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Agrega una sombra en la parte inferior */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header .logo {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
    display: flex; /* Muestra los logos en línea */
    align-items: center; /* Centra verticalmente los logos */
    height: 60px; /* Ajusta la altura según tu diseño */
    margin-left: 100px;
    margin-top: 3px;
}

#logoScrolled {
    opacity: 0;
    visibility: hidden;
}

.logo img {
    margin-top: 10px;
    margin-left: 20px;
    width: 210px;
    /*height: 60px;*/
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-left: 1200px;
}

header nav ul li a{
    display: inline-block;
    color: #000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}

header nav ul li a:hover,
header nav ul li a .active {
    border-bottom-color: dodgerblue;
}

header nav ul li a .active{
    color: #32adff;
}

.navbar a.active {
    font-weight: bold;
}

.ven{
    width: 50px;
    margin-left: 30px;
}

.hamburger{
    cursor: pointer;
    display: none;
}

.hamburger div{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
}

/*-------------------- RESPONSIVE NAVBAR -----------------------*/

@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }

    header nav{
        position: fixed;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #fff;
        padding: 30px;
    }

    header #nav_check:checked ~ nav{
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {
       margin: 5px 0; 
    }

}


/*-------------------- SLIDER -----------------------*/


.main {
    height: 90vh;
    width: 100%;
}

.wrapper,
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide{
    overflow: hidden;
}

.slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.slide .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}

.image-data span.text{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.image-data h2{
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 25px;
    color: #333;
    text-decoration: none;
    margin-top: 25px;
    transition: all 0.3s ease;
}

a.button:hover{
    color: #fff;
    background-color: #3d999c;
}

/* SWIPER BUTTON CSS */

.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /*background: rgba(255, 255, 255, 0.3);*/
}

/*
.nav-btn:hover{
    background: rgba(255, 255, 255, 0.4);
}
*/

.swiper-button-next{
    right: 50px;
}

.swiper-button-prev{
    left: 50px;
}

.nav-btn::before,
.nav-btn::after{
    font-size: 15px;
    color: #fff;
}

.swiper-pagination-bullet{
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;
}

.swiper-pagination-bullet-active{
    border: 2px solid #fff;
    background-color: #3d999c;
}

@media screen and (max-width: 768px) {
    .nav-btn {
        visibility: hidden;
    }

    .swiper-pagination-bullet {
        visibility: visible;
    }
}


/* SECTION INFO */

.info{
    height: 70vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .fedger img{
    width: 350px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    margin-left: 30px;
    /*margin-right: -400px;*/
}

.all-text{
    width: 500px;
    max-width: 100%;
    padding: 0 10px;
}

.fedger{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4{
    font-size: 18px;
    color: #777777;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 5px;
}

.all-text h1{
    font-size: 35px;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-text p{
    font-size: 14px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 35px;
}

.btn-info button{
    background-color: #32adff;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgb(0, 0, 0 / 6%);
    margin-right: 20px;
}

.btn-info button:hover{
    background-color: #70c6ff;
    color: white;
    transition: 3s;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .info{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }

    .all-text{
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 650px){
    .info .fedger img{
        width: 350px;
        margin-bottom: 25px;
    }
    .all-text h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
}

/* CARDS */

.sec-cards{
    background-image: url(../img/fondocards2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 120vh;
}

.wrapper1{
    padding-top: 100px;
    width: 1170px;
    margin: 5% auto;
}

.wrapper1 h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin: 0;
}

.single-service{
    position: relative;
    width: 42%;
    height: 350px;
    background: #fff;
    box-sizing: border-box;
    padding: 20px 20px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 45px;
    text-align: center;
    margin-top: 50px;
    border-radius: 25px;
}

.line{
    width: 150px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}

.single-service p{
    color: #262626;
    font-size: 14px;
}

.single-service h3{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #262626;
    border-radius: 50%;
    margin: 5% auto;
}

.social i{
    font-size: 30px;
    padding: 15px;
    color: #000;
}

.single-service span{
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: .7s;
    transform: skew(10deg);
}

.single-service:hover span{
    left: 110%;
}

.single-service hr{
    margin: auto;
    width: 50%;
    max-width: 100px;
    border-color: #00BFFF;
    margin-bottom: 15px;
    margin-top: -15px;
}

@media (max-width:1200px) {
    .wrapper1{
        width: 100%;
    }
    .single-service{
        width: 85%;
        margin-bottom: 20px;
    }
    .wrapper h2{
        font-size: 35px;
    }
}

@media (max-width:600px) {
    .wrapper1{
        width: 100%;
    }
    .single-service{
        width: 85%;
        margin-bottom: 20px;
    }
    .wrapper h2{
        font-size: 30px;
    }
}

/* VIDEOS */

.titulovid{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    color: #fff;
    margin: 0;
    padding-top: 80px;
}

iframe {
    width: 100%;
    height: 100%;
}

.containervid {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fdvideo.jpg) center/cover;
    width: 100%;
    min-height: 80vh;
    
}

.grupovid{
    height: 40vh;
    margin-top: -60px;
}

.title1 {
    padding: 1rem 9% ;
    color: #d8d8d8;
    font-weight: 300;
    font-size: 1.5rem;}
.video{ 
    border: 0.12rem solid #d8d8d8;
    height: 300px;
}
.contvideos {
    padding: 0 8.5% ;
    margin: auto;    
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.grupovid2{
    padding-bottom: 100px;
}

@media screen and (max-width:600px){
    .grupovid2{
        padding-top: 750px;
    }
}

/* SLIDER */

.tt-slider{
    margin-top: 80px;
}

.title-slider{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.sbtitle-slider{
    font-size: 34px;
    text-align: center;
    margin-top: -10px;
    text-transform: uppercase;
}

.dv-slider{
    width: 3%;
    margin: 0 auto; /* Centra horizontalmente */
    background-color: #00BFFF; /* Color celeste */
    height: 4px; /* Grosor de la línea */
    border: none; /* Quita el borde predeterminado */
}

.sldlogo{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    padding-top: 160px;
}

.sldlogo .slide-track{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.sldlogo .slide-lg{
    width: 200px;
}

.sldlogo .slide-lg img{
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 2));
        transform: translateX(calc(-200px * 2));
    }
}


/* NOSOTROS */

.nosotros {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(../img/nosotros.png) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 16px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;

    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
        
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

/* FOOTER */

.scfooter{
    width: 100%;
    background: #000000;
}

.footer{
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #000000;
}

.logoft{
    width: 200px;
}

.footer-content h4{
    color: #32adff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li{
    margin-bottom: 16px;
}

.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 14px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}

.footer-content p{
    color: #d6d6d6;
    font-size: 14px;
    line-height: 30px;
    margin: 25px 0;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}

@media (max-width:1690px){
    section{
        padding: 50px 5% 40px;
    }
}

@media (max-width:1120px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
}

@media (max-width:700px){
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }
    .logoft{
        width: 180px;
    }
}


/* SERVICIOS */

.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: linear-gradient(#444444,#313131 50%, #fff 50%, #fff 100%);
}

.container-serv{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-serv .box1{
    position: relative;
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.container-serv .box1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #58D3F7;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.container-serv .box1:hover::before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.container-serv .box1 h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container-serv .box1:hover h2{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}

.container-serv .box1 h3{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.container-serv .box1 p{
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
}

.container-serv .box1:hover h3,
.container-serv .box1:hover p {
    color: #fff;
}

/* CONTACTO */

.container-form{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 100%;
    width: 1120px;
    height: 520px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form{
    background-color: #00A9E9;
    position: relative;
}

.circle{
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #1484cf);
    position: absolute;
}

.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #00A9E9;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title-form,
.title-info{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
    margin-top: 10px;
}

.input-container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;

}

.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}

.btn-form{
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #32adff;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-form:hover{
    background-color: transparent;
    color: #fff;
}

.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before,
.input-container span:after{
    content: "";
    position: absolute;
    width: 50%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #00A9E9;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before{
    left: 50%;
}

.input-container span:after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after{
    width: 50%;
    opacity: 1;
}

.contact-info{
    padding: 2.3rem 2.2rem;
    position: relative;
}

.contact-info .title-info{
    color: #00A9E9;
}

.text-info{
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.icon{
    width: 28px;
    margin-right: 0.7rem;
}

.social-media{
    padding: 2rem 0 0 0;
}

.social-media p{
    color: #333;
}

.social-icons{
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #00A9E9, #00A9E9);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icons a:hover{
    transform: scale(1.05);
}

.contact-info::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #00A9E9;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #00A9E9, rgb(55, 133, 185));
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.big-circle:after{
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.square{
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}

@media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 350px;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text-info {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container-form {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text-info,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title-info,
    .title-form {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .btn-form {
      padding: 0.45rem 1.2rem;
    }
  }